@import "variables";

.add-form{
  height: 270px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 5px;
  background-color: $lightBlueTheme;
  padding: 15px;
  margin-top: 5px;

  &--active{
    display: flex;
  }
}