@import "variables";

.illness-card{
  border-radius: 47px 1px 352px 0px / 47px 0px 0px 0px;
  position: relative;
  padding: 10px;
  padding-inline: 20px;
  color: $darkBlueTheme;
  background-color:$lightBlueTheme;
  margin-top:10px;

  &__image-container{
    width: 175px;
    height: 175px;
  }

  &__image{
    border-radius: 87px 0px 352px 0px / 77px 0px 0px 0px;
    border: 4px solid $white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.full-picture{

  width: 100%;
  object-fit: contain;

  &-container{
    max-width:700px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}
