@import "variables";

.custom-button{
  border-radius: 3px;
  padding: 5px;
  padding-inline: 12px;
  display: block;

  &--margin_top{
    margin-top: 15px;
  }

  &--green{
    background-color: $addButtonTheme;
  }

  &--white{
    background-color: $white;
  }

  &--margin-top{
    margin-top: 10px;
  }

  &--position-absolute{
    position: absolute;
    right: 15px
  }

  &--image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-image: url("../images/pluc.png");
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
  }

  &--transparent{
    background-color: rgba(255,255,255,0);
    border: none;
  }


  &:hover{
    animation: 0.3s forwards scaleText;
    display: block;
    cursor: pointer;
  }

  @keyframes scaleText {
    from{
      transform: scale(1)
    }
    to{
      transform: scale(1.04);
    }
  }
}
