@import "variables";

.modal-window{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.3);

  &--active{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
    min-width: 60%;
    min-height: 80%;
    max-height: 95vh;
    background-color: $white;
    border-radius: 10px;
    padding: 15px;
    overflow: auto;
  }
}