$darkBlueTheme : rgb(19, 13, 74);
$darkBlueThemeLowestOpacity : rgba(19, 13, 74, 0.4);
$white : rgb(256,256,256);
$lightBlueTheme : rgb(222, 250, 249);
$lightBlueThemeLowOpacity : rgb(222, 250, 249, 0.3);
$darkBlueThemeLowOpacity: rgba(19, 13, 74, 0.6);
$authenticationPicture: url('../images/Modern_medicine.jpg');
$addButtonTheme: rgba(52, 235, 143,1);
$inputBackgroundGreen: rgba(230, 250, 240, 1)