@charset "UTF-8";
@import "~normalize.css";
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header__container, section, footer, main {
  padding-inline: 8%;
}

html {
  background-color: black;
}

body, head {
  display: block;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 2.7496942532em 2.6676346723em 3px #57a5ff, 7.3483969127em 0.5216173902em 3px #57a5ff, 7.9653562653em 0.8714058749em 3px #57a5ff, 4.1528994289em 1.5456763291em 3px #57a5ff, 8.6904726687em 2.1426217371em 3px #57a5ff, 6.2602027822em 2.2459832582em 3px #57a5ff, 4.2078258594em -0.0708315349em 3px #57a5ff, -0.1233588056em 1.2711519832em 3px #57a5ff, 1.593600574em 3.0719358191em 3px #57a5ff, 9.1318797459em -0.2551504559em 3px #57a5ff, 0.7129641969em 2.9212114735em 3px #57a5ff, 1.7861802031em -0.1970741523em 3px #57a5ff, 2.5934697777em 2.2628195011em 3px #57a5ff, 0.3191599012em -0.2800005632em 3px #57a5ff, 6.3547891469em 0.8261897167em 3px #57a5ff, 9.5294355735em 2.4262575725em 3px #57a5ff, 1.8510756233em 0.2751604822em 3px #57a5ff, 1.3538562029em 0.5228276031em 3px #57a5ff, 5.5265899925em 1.067839749em 3px #57a5ff, 9.0229067822em 0.5998608588em 3px #57a5ff, 8.3482732044em 1.245026372em 3px #57a5ff, 1.4314941311em 2.3312545638em 3px #57a5ff, 9.1515335151em 3.2559258865em 3px #57a5ff, 6.7384415657em 3.0069013794em 3px #57a5ff, 6.6579552629em 2.5012880217em 3px #57a5ff, 7.7467852345em 0.0806840854em 3px #57a5ff, 0.3834959121em 0.1634734597em 3px #57a5ff, 3.6343372105em 2.3122011066em 3px #57a5ff, 5.6320774099em 2.1541502388em 3px #57a5ff, 7.4034841676em -0.3611602787em 3px #57a5ff, 7.6895926829em 2.5107129476em 3px #57a5ff, 9.6576842744em -0.3125053552em 3px #57a5ff, 7.4283324487em 2.9118026864em 3px #57a5ff, 3.3015146915em 0.2441707273em 3px #57a5ff, 4.9965771024em 2.5682072722em 3px #57a5ff, 4.5008849302em -0.6726959868em 3px #57a5ff, 6.9737416691em -0.5473178403em 3px #57a5ff, 7.1531043192em 1.0330583816em 3px #57a5ff, 7.2690961717em 0.867525289em 3px #57a5ff, 6.8472931813em 2.7399390492em 3px #57a5ff, 0.8462002598em -0.0046274522em 3px #57a5ff;
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.9023328285em 2.7036758257em 3px #57a5ff, 2.1554727944em 0.3154011994em 3px #57a5ff, 2.7987265029em 2.211746364em 3px #57a5ff, 5.4675676359em -0.1670171516em 3px #57a5ff, 0.3280501264em 0.1207297447em 3px #57a5ff, 4.2388618887em 2.2545822099em 3px #57a5ff, 3.0231420638em 0.4509164007em 3px #57a5ff, 9.5800908044em 2.8125505133em 3px #57a5ff, 3.385586762em 0.2119150728em 3px #57a5ff, 2.4821995469em -0.4834346579em 3px #57a5ff, 2.9261527723em 0.0588550744em 3px #57a5ff, 8.4968295962em 1.7843613195em 3px #57a5ff, 7.000553963em 0.0310857723em 3px #57a5ff, 5.4595360622em 2.7315945621em 3px #57a5ff, 0.3405906032em 1.3743176029em 3px #57a5ff, 4.1891272778em 2.9437292678em 3px #57a5ff, 1.9891540884em 3.2868894452em 3px #57a5ff, 3.9899878713em 2.1359785815em 3px #57a5ff, 5.8229291788em 1.7862116391em 3px #57a5ff, 3.6496378914em 2.8087104338em 3px #57a5ff, 8.8173224755em 3.0791585777em 3px #57a5ff, 5.4776254943em 1.872099102em 3px #57a5ff, 8.5351796072em 3.2454730641em 3px #57a5ff, 3.9932956818em 1.3717082433em 3px #57a5ff, 3.8332322391em 0.7792717471em 3px #57a5ff, 1.5236745605em 2.2519528391em 3px #57a5ff, 4.6317490124em 2.5243147138em 3px #57a5ff, 2.6304110777em -0.1956285263em 3px #57a5ff, 6.5406781757em 2.5936212375em 3px #57a5ff, 5.2154501689em 1.4211761687em 3px #57a5ff, 6.7831117017em 0.1707761861em 3px #57a5ff, 1.2101118584em 1.2956438219em 3px #57a5ff, 7.0949407245em 1.6859001887em 3px #57a5ff, 0.9318733076em 2.0749610965em 3px #57a5ff, 4.9239372379em 2.3370864691em 3px #57a5ff, 8.7053458578em 0.7751627347em 3px #57a5ff, 7.3278382337em -0.653605831em 3px #57a5ff, 1.872331764em 0.3905272675em 3px #57a5ff, 5.0234791479em 1.4669107808em 3px #57a5ff, 4.004183036em 3.0763638891em 3px #57a5ff, 6.0150158439em 0.1059274621em 3px #57a5ff;
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 1.1891964818em 2.5434101074em 3px #57a5ff, 8.7775823682em 3.028527921em 3px #57a5ff, 8.358279103em -0.5803002743em 3px #57a5ff, 0.2739782226em 2.8887651084em 3px #57a5ff, 1.1856133475em 0.1961067107em 3px #57a5ff, 1.6496645719em 2.1778007936em 3px #57a5ff, 7.367656306em 0.886163569em 3px #57a5ff, 2.0711176099em 2.204364051em 3px #57a5ff, 1.9939833995em 1.9193080637em 3px #57a5ff, 7.8283549082em 1.373143935em 3px #57a5ff, 0.6556905031em 1.1926624767em 3px #57a5ff, 7.8221457512em 2.1797450336em 3px #57a5ff, 7.0192915926em 0.5844392381em 3px #57a5ff, 6.0490859228em 1.5056906178em 3px #57a5ff, 4.3073285971em 1.6399369365em 3px #57a5ff, 0.0743695172em 2.9807048167em 3px #57a5ff, 9.374564701em 1.8363014907em 3px #57a5ff, -0.0525211253em -0.0742625489em 3px #57a5ff, 9.3129713594em 2.8375462705em 3px #57a5ff, -0.0037385968em -0.6082522985em 3px #57a5ff, 2.7206552852em 3.0111075614em 3px #57a5ff, 4.5082278471em 1.0500180725em 3px #57a5ff, 7.5158125422em 1.816859578em 3px #57a5ff, 7.3122923748em 1.622737201em 3px #57a5ff, 5.7952660928em -0.6425425324em 3px #57a5ff, 5.2991912677em 1.1391933317em 3px #57a5ff, 7.9321562263em 0.6242840539em 3px #57a5ff, 8.8310446697em 1.768905991em 3px #57a5ff, 0.6398394069em -0.4622706718em 3px #57a5ff, 6.7451517561em 2.4352231275em 3px #57a5ff, 7.8580658823em 2.1801038865em 3px #57a5ff, 9.2647437699em 2.2098548716em 3px #57a5ff, 2.4291513013em 1.9998025536em 3px #57a5ff, 3.2219379665em 0.9466630092em 3px #57a5ff, 8.7082332299em 1.9417225502em 3px #57a5ff, 8.4900241397em -0.628467608em 3px #57a5ff, 2.5301402084em 0.7557142589em 3px #57a5ff, 5.9783368951em 2.7915385896em 3px #57a5ff, 6.6189748863em 1.330774563em 3px #57a5ff, 4.9276333656em 0.6998023826em 3px #57a5ff, 9.2785369418em 2.9524540286em 3px #57a5ff;
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 6.8005134411em 0.2565850262em 3px #57a5ff, 6.0285400486em 1.9027394415em 3px #57a5ff, 8.7395198947em 1.5606138314em 3px #57a5ff, 1.5787101277em 1.656091124em 3px #57a5ff, 6.8743584493em 0.41217041em 3px #57a5ff, 0.7194193321em 0.5217870113em 3px #57a5ff, 3.9610957904em 0.2332952958em 3px #57a5ff, 4.2283772296em 1.2673591661em 3px #57a5ff, 8.3280117319em 1.1407038837em 3px #57a5ff, 4.5541293545em 2.983492605em 3px #57a5ff, 0.1709954371em 2.6765183681em 3px #57a5ff, 1.9464953995em 0.5984207617em 3px #57a5ff, 0.6476345165em -0.3615856309em 3px #57a5ff, 7.8409297768em 2.8599971527em 3px #57a5ff, 5.1085024902em 3.2510925216em 3px #57a5ff, 3.9985154345em -0.4130258073em 3px #57a5ff, 7.0702785418em 3.2083606393em 3px #57a5ff, 9.4286364413em 1.5382214294em 3px #57a5ff, 0.7219781664em 2.5870651619em 3px #57a5ff, 4.7405684556em -0.2730680078em 3px #57a5ff, 4.1201933381em 1.3056957792em 3px #57a5ff, -0.2309921977em 0.7905242305em 3px #57a5ff, 3.0101392263em 0.363307434em 3px #57a5ff, 3.9229264819em 0.7828898738em 3px #57a5ff, 8.5006961815em -0.4292775285em 3px #57a5ff, 3.3058731951em 1.1143282998em 3px #57a5ff, 2.5047554922em 3.1381141544em 3px #57a5ff, 6.587127171em 0.6745584825em 3px #57a5ff, 0.0536891133em 1.0928958764em 3px #57a5ff, 7.9455046878em 1.1351759107em 3px #57a5ff, 3.9699298782em 2.3754641833em 3px #57a5ff, 1.9289890823em 2.8378966922em 3px #57a5ff, 7.4117825953em 2.2897964455em 3px #57a5ff, 0.9312703101em -0.5875714989em 3px #57a5ff, 2.7528871276em 0.1086469077em 3px #57a5ff, 2.5373351194em 2.8206854831em 3px #57a5ff, 2.4878629355em 0.2876792901em 3px #57a5ff, 9.2044333265em 0.139218605em 3px #57a5ff, 2.8635565595em 3.1681400172em 3px #57a5ff, 5.3351068206em 1.667991895em 3px #57a5ff, 1.4056693714em 1.5616558906em 3px #57a5ff;
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
.App {
  position: relative;
}

.menu {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: transparent;
  padding-block-start: 15px;
  padding-inline: 12%;
}

.menu-patients {
  position: relative;
  z-index: 3;
  height: 100vh;
  width: 100%;
  padding-inline: 20%;
  padding-block-start: 15px;
  background-color: transparent;
}

.header__container, section, footer {
  padding-inline: 12%;
}

.header {
  position: relative;
  width: 100%;
  color: #25295e;
  text-transform: uppercase;
  z-index: 3;
}
.header__container {
  padding-block: 1%;
  width: 100%;
  display: flex;
  background-color: #130d4a;
  justify-content: space-around;
  align-items: center;
}

.nav-bar {
  width: 40%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

nav {
  text-decoration: none;
}

.link {
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
}
.link:after, .link:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
.link:after {
  bottom: -3px;
  transform: translateY(4px);
}
.link:before {
  top: -3px;
  transform: translateY(-4px);
}
.link:hover:before, .link:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
.link:hover {
  opacity: 0.7;
  transition: 0.3s linear;
  transform: scale(1.05);
}
.link:visited {
  color: white;
}
@keyframes activateLink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.link:active {
  animation: activateLink 0.5s 1;
  animation-fill-mode: forwards;
}

.logo {
  width: 6%;
}
.logo__image {
  width: 100%;
  display: block;
  object-fit: contain;
}

.authentification {
  position: relative;
  background-image: url("../images/Modern_medicine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 90.59px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.authentification::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(19, 13, 74, 0.6);
}
.authentification__wrapper {
  display: block;
}
.authentification__button {
  position: relative;
  z-index: 3;
  background-color: #130d4a;
  color: white;
  text-transform: uppercase;
  width: 15vw;
  min-height: 50px;
  height: 8vh;
  border-color: white;
  border-radius: 15px;
}
.authentification__button:hover {
  transition: 0.33s linear;
  transform: scale(1.07);
}

.footer {
  background-color: #130d4a;
  color: white;
  height: 18vh;
}

.back {
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  color: white;
}
.back:before {
  content: "🠔";
}

.patient-info {
  min-height: calc(100vh - 20px);
  border: 3px solid white;
  background-color: rgba(19, 13, 74, 0.6);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.patient-info__field {
  height: 10%;
  color: white;
}
.patient-info__field--click {
  cursor: pointer;
}
.patient-info__field--click:hover {
  animation: 0.7s forwards scaleText;
  display: inline-block;
}
@keyframes scaleText {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.patient-info__field--color {
  color: #defaf9;
}

.patient-mini-card {
  display: flex;
  clip-path: polygon(4% 0%, 100% 0%, 100% 100%, 4% 100%, 0% 50%);
  justify-content: space-between;
  background-color: #130d4a;
  height: 15%;
  align-items: center;
  color: white;
  text-decoration: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.patient-mini-card__text {
  border-right: 2px solid white;
  padding: 10px 0;
  padding-right: 15px;
}
.patient-mini-card__content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
  padding-inline: 0px;
}
.patient-mini-card__content-container {
  width: 100%;
}
.patient-mini-card--margin10p {
  margin-block-start: 25px;
}
.patient-mini-card:nth-child(3) {
  margin-block-start: 10px;
}

.avatar-container {
  width: 190px;
  height: 190px;
  min-width: 150px;
  min-height: 150px;
  position: relative;
  margin: auto;
}

.avatar {
  margin: auto;
  background-color: white;
  display: block;
  object-fit: cover;
  object-position: 50% 10%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px white solid;
  user-select: none;
  -webkit-user-drag: none;
}

.modal-window {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-window--active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-window__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 95%;
  min-width: 60%;
  min-height: 80%;
  max-height: 95vh;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  overflow: auto;
}

#med-history-file, #edit-med-history-file {
  display: none;
}

.input-text {
  display: block;
  outline: none;
  min-width: 500px;
  border: 2px solid white;
}
.input-text--whiteBack {
  background-color: white;
}
.input-text--bottomBorder {
  border-bottom: 2px solid #130d4a;
}
.input-text--greenBack {
  background-color: white;
  border-color: #130d4a;
}
.input-text--margin-bottom {
  margin-bottom: 10px;
}
.input-text:focus {
  font-size: 1.2rem;
}

.input-description {
  height: 120px;
  max-width: 700px;
  resize: none;
}

.file-input {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  align-content: flex-start;
  text-align: center;
  font-size: 0.8rem;
  color: #130d4a;
}
.file-input__name {
  width: 20px;
  height: 10px;
}
.file-input::after {
  margin-left: 7px;
  font-size: 0.9rem;
  content: "Upload";
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid #130d4a;
  background-color: white;
  height: 25px;
  width: 80px;
  border-radius: 3px;
}
@keyframes scales {
  to {
    opacity: 0.9;
    transform: scale(1.02);
  }
}
.file-input:hover {
  cursor: pointer;
  animation: 0.1s linear forwards scales;
}

.illness-card {
  border-radius: 47px 1px 352px 0px/47px 0px 0px 0px;
  position: relative;
  padding: 10px;
  padding-inline: 20px;
  color: #130d4a;
  background-color: #defaf9;
  margin-top: 10px;
  box-sizing: border-box;
}
.illness-card__image-container {
  width: 175px;
  height: 175px;
  position: relative;
}
.illness-card__image {
  border-radius: 87px 0px 352px 0px/77px 0px 0px 0px;
  border: 4px solid white;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}

.full-picture {
  width: 100%;
  object-fit: contain;
}
.full-picture-container {
  max-width: 700px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.cancel {
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  font-weight: lighter;
  font-size: 2em;
  color: white;
  background-color: palevioletred;
  cursor: pointer;
  top: 0;
  right: 0;
}

.cancel:after {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(1.2);
  transform: translate(-50%, -50%) scaleX(1.2);
}

.pictures-container {
  margin-top: 10px;
  display: flex;
}

.custom-button {
  border-radius: 3px;
  padding: 5px;
  padding-inline: 12px;
  display: block;
}
.custom-button--margin_top {
  margin-top: 15px;
}
.custom-button--green {
  background-color: #34eb8f;
}
.custom-button--white {
  background-color: white;
}
.custom-button--margin-top {
  margin-top: 10px;
}
.custom-button--position-absolute {
  position: absolute;
  right: 15px;
}
.custom-button--image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  background-image: url("../images/pluc.png");
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.custom-button--transparent {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.custom-button:hover {
  animation: 0.3s forwards scaleText;
  display: block;
  cursor: pointer;
}
@keyframes scaleText {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}

.add-form {
  height: 270px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #defaf9;
  padding: 15px;
  margin-top: 5px;
}
.add-form--active {
  display: flex;
}

.container {
  width: 190px;
  position: relative;
}

.cs-selector {
  --selectedBackground: #7a8eff;
  --selectedColor: #FFF;
  min-width: 190px;
  background: #FFF;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cs-selector[data-selected=USER] .cs-options-list .cs-option:nth-child(2) {
  background: var(--selectedBackground);
  color: var(--selectedColor);
}

.cs-selector[data-selected=DOCTOR] .cs-options-list .cs-option:nth-child(3) {
  background: var(--selectedBackground);
  color: var(--selectedColor);
}

.cs-selector-icon {
  transition: 0.3s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
}

.cs-selector[data-active=USER] .cs-selector-icon {
  transform: rotateZ(180deg);
}

.cs-selector[data-active=USER] .cs-options-list {
  display: block;
  -webkit-animation: fadeIn;
  animation: fadeIn;
}

.cs-selector[data-active="0"] .cs-options-list, .cs-selector select {
  display: none;
}

.cs-selector .cs-selected-box {
  padding: 0.8em 1.2em;
  background: #FFF;
  color: #595959;
  border-radius: 5px;
  border: 0.5px solid #bfbfbf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.cs-selector .cs-selector-icon {
  width: 20px;
  height: 20px;
}

.cs-selector .cs-selector-icon svg {
  width: 100%;
  height: auto;
  stroke: #565656;
  stroke-width: 1px;
}

.cs-selector .cs-options-list {
  border: 0.5px solid #bfbfbf;
  list-style: none;
  padding: 0;
  margin: 12px 0;
  position: absolute;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 3;
}

.cs-selector .cs-selector-label {
  display: none;
}

.cs-selector .cs-option {
  background-color: white;
  color: #595959;
  padding: 0.9em 1.3em;
  transition: 0.2s ease;
  font-weight: 400;
}

.cs-selector .cs-option:not(:last-child) {
  border-bottom: 0;
}

.create-form {
  width: 70%;
  height: 270px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #130d4a;
  padding: 15px;
}
.create-form--active {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.toast {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 375px;
  background: #FFF;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*   gap: 20px; */
  border-radius: 12px;
  border-left: 3px solid red;
  overflow: hidden;
  transform: translateX(calc(100% + 25px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0);
  z-index: 15;
}

.toast i:first-child {
  color: red;
  font-size: 20px;
}

.toast-text {
  position: relative;
  z-index: 16;
  margin: 0;
  color: black;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.toast i:last-child {
  color: #ccc;
  cursor: pointer;
  transition: 350ms;
}

.toast i:last-child:hover {
  color: #333;
}

.event-card {
  border-radius: 47px 1px 352px 0px/47px 0px 0px 0px;
  position: relative;
  padding: 10px;
  padding-inline: 20px;
  color: #130d4a;
  background-color: #defaf9;
  margin-top: 10px;
  box-sizing: border-box;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  color: black;
}

.table th {
  font-size: 0.6rem;
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

.table td {
  font-size: 0.5rem;
  border: 1px solid #dddddd;
  padding: 5px;
}

.encrypt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
