@import "variables";

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header__container,section, footer, main{
  padding-inline: 8%;
}
@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
    (-.3+(random()) * 10) + em
    (-.7+(random()) * 4) + em
    3px
    hsla(212, 100%, 67%, 1);
  }
  text-shadow: $text-shadow;
}

html {
  background-color: black;
}

body, head {
  display: block;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}


body::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  @include dots(40);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  @include dots(40);
  animation-duration: 41s;
  animation-delay: -19s;
}


@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

.App{
  position: relative;
}

@import "~normalize.css";
@import "generalStyles.scss";
@import "mainpage.scss";
@import "patients.scss";
@import "mycard.scss";
@import "patientMiniCard.scss";
@import "avatar.scss";
@import "modalWindow.scss";
@import "input.scss";
@import "illnessCard.scss";
@import "customButton.scss";
@import "add-form.scss";
@import "createaForm";
@import "notification";
@import "event";
